<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OsusumeLunch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE23AA961DA1FF2A000334D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE23AAAD1DA1FF2A000334D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE23AAB81DA1FF2A000334D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
