<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OsusumeLunch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OsusumeNetworking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TodayExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE23AA961DA1FF2A000334D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE23AAAD1DA1FF2A000334D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE23AAB81DA1FF2A000334D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE2D75E81DA4CDB000AD36CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE2D76071DA4E28500AD36CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE2D760F1DA4E28500AD36CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEBA5ACD1DA5E7BD00CC869A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEFDC4D81DA6444600F6B060</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
